

  <body> 

  <nav class="bg-dark navbar-dark">
    <div class="container">
      <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Forest</a>
    </div>
    </nav>
     <section id="header"  class="jumbotron text-center">
       <h1 class="display-3" >Quiz</h1>
       <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
       
  </section>
    
 
  <div class="input-group" style="width: 386px; margin-left: 520px;">
    <input type="text" class="form-control" placeholder="Search this blog">
    <div class="input-group-append">
      <button class="btn btn-secondary" style=" color: orangered" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <br>
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="assets/img/net-mvc-logo-png-clip-art.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">.net</h5>
         
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
          
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
          <p  class="btn btn-outline-danger btn-sm float-right">12 </p>
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="assets/img/angular.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
         <p  class="btn btn-outline-danger btn-sm float-right">12 </p>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="assets/img/java.png" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
         <p  class="btn btn-outline-danger btn-sm float-right">12 </p>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
  
</body>

  